In [15]:
a = set(["Diptam", "Paul"])

In [16]:
a

{'Diptam', 'Paul'}

In [17]:
b = set("DiptamPaul")

In [18]:
b

{'D', 'P', 'a', 'i', 'l', 'm', 'p', 't', 'u'}

In [19]:
a.add("Python")

In [20]:
a

{'Diptam', 'Paul', 'Python'}

In [21]:
a.update(["Tutorial", "Subscribe"])

In [22]:
a

{'Diptam', 'Paul', 'Python', 'Subscribe', 'Tutorial'}

In [23]:
a.remove("Tutorial")

In [24]:
a

{'Diptam', 'Paul', 'Python', 'Subscribe'}

In [25]:
a.discard("Subscribe")

In [26]:
a

{'Diptam', 'Paul', 'Python'}

In [27]:
a.pop()

'Diptam'

In [28]:
a

{'Paul', 'Python'}

In [29]:
a.clear()

In [30]:
a

set()

In [47]:
a = {1, 2, 3, 4, 5}
b = {4, 5}

In [35]:
a

{1, 2, 3}

In [36]:
a.union(b)

{1, 2, 3, 4, 5}

In [37]:
a.intersection(b)

{2}

In [42]:
a.isdisjoint(b)

False

In [45]:
a.issubset(b)

True

In [48]:
a.issuperset(b)

True

In [49]:
c = a.symmetric_difference(b)
c

{1, 2, 3}