In [1]:
a = (1, 2, 3, 4)

In [2]:
a

(1, 2, 3, 4)

In [3]:
b = 1,2,3,4

In [4]:
b

(1, 2, 3, 4)

In [5]:
c = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [7]:
c[4]

5

In [9]:
c[-1]

10

In [11]:
c[0:5]

(1, 2, 3, 4, 5)

In [12]:
d = (1, 2, 3, [4, 5, 6])

In [14]:
d[1] = 20

TypeError: 'tuple' object does not support item assignment

In [16]:
d[3][1] = 50

In [17]:
d

(1, 2, 3, [4, 50, 6])

In [18]:
print(c)
print(d)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3, [4, 50, 6])

In [19]:
e = c + d
e

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, [4, 50, 6])

In [21]:
del e

In [22]:
e

NameError: name 'e' is not defined

In [23]:
x = (1, 1, 1, 1, 2 ,3, 4, 5, 6)

In [24]:
x.count(1)

4

In [25]:
x.index(4)

6

In [26]:
y = [45, 34, 45]

In [27]:
type(y)

list

In [28]:
z = tuple(y)

In [30]:
print(z)
type(z)

(45, 34, 45)

tuple

In [31]:
e = c + d

In [32]:
e

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, [4, 50, 6])

In [33]:
for i in e:
    print(i)

1
2
3
4
5
6
7
8
9
10
1
2
3
[4, 50, 6]

In [34]:
print(4 in e)

True

In [35]:
print( 20 in e)

False

In [36]:
print("Diptam" in e)

False